<form class="textfield">
	<div class="post_media">{{ post.message_html|safe }}</div>
	<div class="media-body">Posted by: <span class="username"><a href="{% url 'posts:for_user' username=post.user.username %}">@{{ post.user.username }}</a></span> on <time class="time"><a href="{% url 'posts:single' username=post.user.username pk=post.pk %}">{{ post.created_at }}</a></time>
				{% if post.group %} <span class="group-name2">in<a href="{% url 'posts:single1' slug=post.group.slug %}"> {{ post.group.name }}</a></span>
				{% endif %}
	<span class="media-footer">
				{% if user.is_authenticated and post.user == user and not hide_delete %}
				<a href="{% url 'posts:delete' pk=post.pk %}"><button type="button" class="btn btn-outline-danger"> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Delete</button></a>
				{% endif %}
	</span></div>
</form>
<hr />
